.reset-password-form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #ff725e, #ffffff);
}

.reset-password-form {
  width: 450px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  background-color: #ff725e;
  color: #fff;
}

.btn-primary:hover {
  background-color: #ff5a3c;
}

.text-success {
  color: #28a745;
}

.text-danger {
  color: #dc3545;
}
